@font-face{
  	src: url('../font/Vermin_Vibes_4.otf');
  	font-family: heading;
}
@font-face{
  	src: url('../font/font2.ttf');
  	font-family: heading1;
}
#mySpinner , #final 
{
	position:absolute;
	margin:35%;
	margin-top:4%;
	height:80vh;
	width:80vh;
	padding:15px;
	z-index: 4;
	background-color:white;
	text-align: center;
	border:4px solid #85C318;
	color: black;
	display: none;
}
#waiting
{
	position:absolute;
	margin:35%;
	margin-top:4%;
	height:60vh;
	width:60vh;
	padding:15px;
	z-index: 4;
	background-color:white;
	text-align: center;
	border:4px solid rgb(267, 69, 93);
	color: black;
	display: none;
}
html , body{
	margin:0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}
.slide1
{
	height:40em;
	width: 83em;
	background-color:pink;	
	display: none;
	
}
.slide2{
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    width: 100%;
    height: 99.7vh;
    
}
video 
{ 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
.container{
	margin:0px;
	
	width: 100%;
	overflow: hidden;
}


.column_1
{
	background-color: rgba(34,170,134,0.6);
	height: 99.8vh;
	width: 100%;
	

}
.column_2
{
	width: 100%;
	height: 99.8vh;
	background-color:rgba(0,0,0,0.4);
	
	
}
#my_heading
{
	font-family:heading1;
	color:#22aa86;
	font-size:100px;
	/*opacity: 0.6;*/

	
}
.column_2 h2{
	color:white;
	font-family: heading1;
}
/*.column_3
{
	background-color: #1F222B;
	height: 99.8vh;
	opacity: 0.1;
	width: 100%;


}*/

.logo_div img
{
	width:100%;
	height:46vh;
	margin-top:15vh;
}
#particles-js{
	z-index: 2;
	padding:100px;
}

.right{
	margin-top:8vh
}
iframe, object, embed {
    max-width: 100%;
}

@media screen and (max-width:1200px){
   .right{
	   margin-top:0vh
   }
   #my_heading {
	font-family:heading1;
	color:#22aa86;
	font-size:30px;
	}  
	.quotes {
		font-size: 8px
	}
	#particles-js{
		padding:50px;
		padding-left:10px;
		padding-right:10px;
	}
}

.icons_div{
	padding-top: 4vw;
	padding-left: 50px;
}

.icon_content{
	color: white;
	font-size: 14px;
	padding-top: 1vw;
	font-family: heading1;
	padding-left: 50px;
}

.icon_sub_div{
	text-align: center;
	
}

.fa-3x{
	padding-left: 50px;
}

@media only screen and (min-width: 360px) and (max-width: 410px){
	
	.icons_div{
		padding-top: 9vw;
	}

	.icon_sub_div{
	 margin-left: -70px;
	}

	.icon_sub_div1{
		margin-left:-30px;
	}
}

@media only screen and (max-width : 320px){
	.icon_sub_div{
	 margin-left: -90px;
	}

	.icon_sub_div1{
		margin-left:-40px;
	}
}

@media only screen and (min-width: 411px) and (max-width: 460px){
	.icon_sub_div{
	 margin-left: -80px;
	}
}

@media only screen and (min-width: 460px) and (max-width: 480px){
	.icon_sub_div{
	 margin-left: -50px;
	}	
}

@media only screen and (min-width: 480px) and (max-width: 510px){
	.icon_sub_div{
	 margin-left: -40px;
	}

	.icon_sub_div1{
		margin-left:-10px;
	}
}

@media only screen and (min-width: 510px) and (max-width: 580px)
{	
	.icon_sub_div{
	 margin-left: -40px;
	}
}

@media only screen and (min-width: 668px) and (max-width: 768px){
	.icon_sub_div{
	 margin-left: 50px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px){

	.icon_sub_div{
	 margin-left: -80px;
	}

	.icon_sub_div1{
		margin-left:-40px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1024px){
	.icon_sub_div{
	 margin-left: -60px;
	}

	.icon_sub_div1{
		margin-left:-20px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1250px){
	.icon_sub_div{
	 margin-left: -50px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1250px){
	.icon_sub_div{
	 margin-left: -40px;
	}
}

